*{
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
  }


#btn{
   color: grey; 
   display: none;
}

.navbar{
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    font-size: 20px; 
}
.header{
    flex:1;
}

.navlist{
    flex:3;
 display: flex;
 flex-direction: row;
justify-content: space-between;
}


.product{
    padding: 20px;
}

.attribution { 
    position: absolute;
    bottom: 0;
    font-size: 11px; 
    text-align: center; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}


.attribution a { 
    color: hsl(228, 45%, 44%); 
}
