@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* .main_conatiner {
    display: flex;
    align-items: center;
    flex-direction: column;
} */

#btn {
    color: grey;
    display: none;
    font-size: 2.2rem;

}

.navbar {
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 80%;
}

.header {
    flex: 0.4;
    font-size: 2.2rem;
}

.about_product {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.account_login {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.login {
    padding-right: 40px;
}

.navlist {
    color: hsl(257, 7%, 63%);
    margin-left: 10px;
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
}

.product {
    padding: 20px;
    text-decoration: none;
    color: hsl(257, 7%, 63%);
}

.product:hover,
.login:hover {
    color: black;
}

.signin {
    background-color: hsl(180, 66%, 49%);
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
}

.signin:hover {
    background-color: hsl(180, 68%, 71%);
}

/* .mobile-account_login{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
} */

hr {
    width: 90%;
    height: 1px;
    background-color: hsl(258, 11%, 41%);
    border: none;
}

.mobile-signin {
    width: 90%;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: hsl(180, 66%, 49%);
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
}

.initial_content_container {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    height: 55vh;
}

.initial_content_header {
    font-size: 4rem;
    line-height: 70px;
    margin-top: 100px;
}

.working_svg_div_desktop {
    flex: 1;
    transform: scale(0.9)translateX(190px);
    justify-self: flex-end;

}

.initial_content {
    display: flex;
    flex-direction: column;

}

.initial_content_paragraph {
    margin-top: 10px;
    word-spacing: 3px;
    color: hsl(257, 7%, 63%);
}

.initial_content_button {
    margin-top: 40px;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: hsl(180, 66%, 49%);
    color: white;
    font-weight: 700;
}

.initial_content_button:hover {
    background-color: hsl(180, 68%, 71%);
}

.link-shortening-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 120px;
    background-color: hsl(255, 11%, 22%);
    z-index: 30;
    overflow: hidden;
    border-radius: 10px;
    margin: 0px auto;
    transform: translateY(60px);

}

.input-container {
    z-index: 100;
    height: 30px;
    width: 90%;
    transform: translate(5px, 55px);
}

.link-shortening-container svg {
    transform: translateY(-15px);
    min-width: 100%;
    min-height: 100%;
}

.input-container input {
    width: 81%;
    height: 40px;
    border-radius: 5px;
    border: none;

}

.input-container input:focus {
    outline: none;
}

.input-container input::placeholder {
    padding-left: 30px;
    font-weight: 500;
}


.input-container button {
    width: 160px;
    margin-left: 20px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: hsl(180, 66%, 49%);
    font-weight: 700;
    color: white;
}

.input-container p {
    display: none;
    font-style: italic;
    margin-top: 4px;
    font-size: 0.8em;
    color: hsl(0, 87%, 67%);
}

#empty-input {
    border: 2px solid hsl(0, 87%, 67%);
}

#empty-input::placeholder {
    color: hsl(0, 83%, 77%);
}

.input-container button:hover {
    background-color: hsl(180, 68%, 71%);
}

.about-product {
    width: 100%;
    height: 90vh;
    background-color: hsl(0, 6%, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-product-header {
    margin-top: 150px;
    font-size: 1.5rem;
    font-weight: 700;
}

.about-product-paragraph {
    margin-top: 15px;
    width: 450px;
    text-align: center;
    color: hsl(0, 0%, 55%);
}

.product-info-container {

    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

/* .product-info-container hr{
 height: 4px;
 color: green;
 z-index: -1px;
} */
.product-customizable,
.product-record,
.product-brandrecongination {
    margin: 0px 15px;
    padding: 0px 30px;
    width: 500px;
    height: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;

}

.product-record {
    transform: translateY(50px);
}

.product-customizable {
    transform: translateY(100px);
}

.brand-info-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: hsl(255, 11%, 22%);
    border-radius: 50px;
    transform: translate(20px, -30px);
}

.brand-info-svg svg {
    transform: scale(0.9);
}

.product-customizable p,
.product-record p,
.product-brandrecongination p {
    margin-top: 20px;
    color: hsl(257, 7%, 63%);
}

.product-brandrecongination::after {
    content: "";
    position: relative;
    width: 40px;
    height: 4px;
    background-color: hsl(180, 66%, 49%);
    transform: translate(325px, -55px);

}

.product-record::after {
    content: "";
    position: relative;
    width: 40px;
    height: 4px;
    background-color: hsl(180, 66%, 49%);
    transform: translate(325px, -107px);

}

.cta-banner {
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
    height: 200px;
    width: 100%;
    overflow: hidden;
    background-color: hsl(255, 11%, 22%);
}

.cta-banner svg {
    z-index: 10;
}

.cta-banner p {
    z-index: 90;
    margin: -200px 580px;
    font-size: 1.5rem;
    width: 100%;
    color: white;
    font-weight: 700;
}

.cta-banner button {
    z-index: 90;
    margin: 220px 650px;
    height: 40px;
    width: 150px;
    border-radius: 50px;
    border: none;
    background-color: hsl(180, 66%, 49%);
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

.cta-banner button:hover {
    background-color: hsl(180, 68%, 71%);
}

.footer-section {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    /* position: relative; */
    justify-content: center;
    /* bottom: 0; */
    background-color: hsl(260, 8%, 14%);
}

.footer-main-container {
    width: 77%;
    display: flex;
    justify-content: space-between;
}

.feature-container,
.resource-contaimer,
.company-container {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0px 40px;
}

.feature-container a,
.resource-contaimer a,
.company-container a {
    margin: 5px 0px;
    color: hsl(0, 0%, 75%);
    text-decoration: none;
    font-size: 0.8rem;
}

.feature-container a:hover,
.resource-contaimer a:hover,
.company-container a:hover {
    color: hsl(180, 66%, 49%);
}

.feature-container p,
.resource-contaimer p,
.company-container p {
    font-weight: 700;
}

.about-comapny-links {
    display: flex;
    margin-left: 250px;
}

.socialmedia-conatiner svg {
    margin: 0px 10px;
    transition: fill 0.2s ease-in-out;
}

.socialmedia-conatiner svg:hover path {
    fill: hsl(180, 68%, 71%);
}


.footer-main-container h1 {
    display: flex;
    color: white;
    font-size: 1.7rem;
}

.attribution {
    width: 100%;
    bottom: 0;
    font-size: 11px;
    text-align: center;
    position: relative;
    color: hsl(0, 0%, 75%);
    background-color: hsl(260, 8%, 14%);

}

.attribution a {
    color: hsl(228, 45%, 44%);
    color: hsl(0, 0%, 75%);
    text-decoration: none;
}

.mobile_nav {
    display: none;
}

.working_svg_div {
    display: none;
}

@media screen and (max-width:400px) {
    .navlist {
        display: none;
    }

    #btn {
        display: block;
    }

    .navbar {
        width: 85%;
        margin: 40px auto 10px;
        justify-content: space-between;
    }

    .mobile_nav {
        padding: 10px;
        margin: 0px auto;
        width: 80%;
        height: 400px;
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: hsl(257, 27%, 26%);
        border-radius: 10px;
        color: white;
        font-size: 1.2rem;
        font-weight: 700;
    }

    .working_svg {
        margin: -40px 0px 0px 30px;
    }

    .working_svg_div_desktop {
        display: none;
    }

    .working_svg_div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 400px;
        overflow: hidden;

    }

    .initial_content_header {
        margin: 0 auto;
        font-size: 2.1em;
        font-weight: 700;
        text-align: center;
        line-height: normal;
    }
    .initial_content_paragraph{
        text-align: center;
    }

    .initial_content_button{
  text-align: center;
    }

    .about-product {
        display: none;
    }

    .cta-banner {
        display: none;
    }
    .initial_content_button{
        align-self: center;
    }
    .footer-section,
    .link-shortening-container {
        display: none;
    }
}